<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>home</h1> 
      <h1><%=locals.user %></h1>
   <a href="/logout">sign out</a>
   <form method="post"    action="/forget_pass">
    <input type="text" name="email" placeholder="email"/>
    <button type="submit">forget password</button>
   </form>
   
   
</body>
</html>